<!DOCTYPE html>
<html lang="es">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>

<div class="card text-center">
    <div class="card-header">
        Solución de ejercicios
    </div>
    <div class="card-body text-bg-warning">
        <h5 class="card-title">Primer Examen DAW</h5>
        <p class="card-text">Resolución de los ejercicios 4 ejercicios</p>
    </div>
    <div class="card-footer text-body-secondary">
        Gabriel Steven Machicao Quispe
    </div>
</div>

</body>
</html>