<!DOCTYPE html>
<html lang="es">
<head th:replace="layout::head">
    <meta charset="UTF-8">
</head>
<body>

<nav th:replace="layout::menu"></nav>
<div class="card text-center">
    <div class="card-header text-bg-warning">
        NÚMERO PERFECTO
    </div>
    <div class="card-body">
        <form th:action="@{/numero-perfecto}" method="post" th:object="${perfecto}">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="txtnumero" placeholder="0" min="0"
                       th:field="*{numero}">
                <label for="txtnumero">Ingrese número limite</label>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Calcular</button>
            <p></p>
            <div th:if="${mostrarMensaje}" class="alert alert-success" role="alert">
                <table class="table">
                    <thead>
                    <tr class="table-secondary">
                        <th scope="col">Número</th>
                        <th scope="col">¿Es Perfecto?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-light" th:each="numero, index : ${numeros}">
                        <td th:text="${numero}"></td>
                        <td th:text="${isPerfect[__${index.index}__] ? 'Sí' : 'No'}" th:class="${isPerfect[__${index.index}__] ? 'table-success' : 'table-secondary'}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>